.main-height {
    height: 70%;
    display: flex;
    flex-direction: column;
}

.height {
    height: 70%;
}

.background {
    background: black;
}

.canvas-height {
    height: 100%;
    position: relative;
}

canvas {
    display: block;
}

.top-25 {
    top: 25%;
}

.left-25 {
    left: 25%;
}

.div-frac {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.application-div {
    height: 100%;
    width: 33%;
}

.img-size {
    width: 200px;
    height: 180px;
}

.logo2 {
    fill: red;
}

.pic-height {
    width: 100px;
    height: 200px;
}

.overflow-container {
    /* overflow: auto; */
     overflow: scroll;
    
  }

  .text-area {
    width: 300px;
    height: 140px;
  }

  .button-length {
    width: 60px;
  }

  .contact-form {
    z-index: 1;
  }