.main-height {
    height: 70%;
    display: flex;
    flex-direction: column;
}

.height {
    height: 70%;
}

.background {
    background: black;
}

.canvas-height {
    height: 100%;
    position: relative;
}

canvas {
    display: block;
}

.top-25 {
    top: 25%;
}

.left-25 {
    left: 25%;
}

.div-frac {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.application-div {
    height: 100%;
    width: 33%;
}

.img-size {
    width: 20p0px;
    height: 180px;
}
