.main-height {
    height: 70%;
    display: flex;
    flex-direction: column;
}

.background {
    background: black;
}

.canvas-height {
    height: 100%;
    position: relative;
}

canvas {
    display: block;
}

.top-25 {
    top: 25%;
}

.left-25 {
    left: 25%;
}

.application-images {
    height: 100%;
    width: 33%;
}
