.main-height {
    height: 70%;
    display: flex;
    flex-direction: column;
}

.background {
    background: black;
}

.canvas-height {
    height: 100%;
    position: relative;
}

canvas {
    display: block;
}
